header
{
	height: 50vw;
	min-height: 150px;
	width: 100%;
	background: url(/martinDev/img/cabecera/header-pic.jpg);
    background-repeat:no-repeat;
    background-size:cover;
	background-position-y: 50%;
    background-blend-mode:darken;
    background-color: rgba(0, 20, 40,0.70);
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}

.header__title
{
	padding-left:15%;
	padding-bottom:10%;
	background-color:rgba(0,0,0,0);
	color:white;
	display:flex;
	flex-direction: column;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size:calc(10px + 2vw);
}