.article
{
	display:flex;
	flex-direction: column;
    border-bottom: 0.5px solid grey;
    padding:5% 15% 5% 15%;
}

.article--light
{
	background-color: white;
}

.article--dark
{
	background-color: #082032;
	color:white;
}

.article--medium
{
	background-color: #334756;
}

.article h2
{
    padding: 0 0 1em 0;
	text-align: center;
}

.article--space
{
	padding-bottom: 2em;
}

.centered-text
{
	text-align:center;
}

.under_construction
{
	display: flex;
	flex-direction: column;
	width:100%;
	align-items: center;
}