.img_gridColumns4
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pictureInRow
{
	display:grid;
	justify-content: center;
	padding: 5% 0 5% 0;
}

.pictureInRow--small
{
	object-fit: cover;
	width:100px;
}

.pictureInRow--medium
{
	object-fit: cover;
	height: 300px;
	max-width: 100%;
	max-height: 25vw;
	min-height: 150px;
	width: 220px;
	display:flex;
	justify-content: center;
	box-shadow: 5px 5px 15px lightslategray;
}

.pictureInRow--big
{
	padding: 15px 0 15px 0;
	object-fit: cover;
	width: 500px;
}

.pictureInRow img:hover
{
	filter: drop-shadow(0 0 5px #FF6768);
}

.singlepic
{
	text-align: center;
	min-width: 300px;
	width: 60%;
	max-width: fit-content;
	box-shadow: 5px 5px 15px grey;
	border-radius: 5px;
	filter: grayscale();
}