/* Media queries */
@media only screen and (max-width: 1300px)
{
	.img_gridColumns4
	{
		grid-template-columns: 1fr 1fr;
	}
	.img_gridColumns4--icons
	{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 660px)
{
	.navBar-text
	{
		display:none
	}
	.navBar-icon
	{
		display:flex;
		border-top:0.5px solid darkgrey;
		border-bottom:1px solid darkgrey;
		text-align: center;
		position:sticky;
		top:0;
		z-index:100;
		background-color: white;
		min-height: auto;
		height: 50px;
		width:100%;
	}
	.navBar-icon img
	{
		display: flex;
		width: 100%;
		margin-left: 88%;
		margin-right:4%;
		justify-self: flex-end;
	}
	.img_gridColumns4
	{
		display:grid;
		grid-template-columns: 1fr;
	}
	.img_gridColumns4--icons
	{
		grid-template-columns: 1fr 1fr;
	}
}