/* Media queries */
@media only screen and (max-width: 1300px)
{
	.img_gridColumns4
	{
		grid-template-columns: 1fr 1fr;
	}
	.img_gridColumns4--icons
	{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 660px)
{
	.navBar .navBar__btn
	{
		display:none
	}
	.navBar__icon
	{
		display:flex;
		width:100%;
		justify-content: center;
	}
	.img_gridColumns4
	{
		display:grid;
		grid-template-columns: 1fr;
	}
	.img_gridColumns4--icons
	{
		grid-template-columns: 1fr 1fr;
	}
}

  /* 
  The "responsive" class is added to the navBar with JavaScript when the user clicks on the icon.
  This class makes the topnav look good on small screens (display the links vertically instead of horizontally)
  */
@media screen and (max-width: 660px) {
	.navBar.responsive
	{
		display:flex;
		flex-direction: column;
	}
	.navBar.responsive a.navBar__icon
	{
		display:flex;
/* 		
		position:absolute;
		right: 0;
		top: 1em;
		transition:1s; */
	}

	.navBar.responsive a
	{
		display: block;
		position:relative;
	}
}