*
{
	margin:0;
	padding:0;
	line-height: 2em;
}
a:link, a:visited, a:active {
    text-decoration:none;
	color:grey;
}
html,body
{
	display:flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: space-between;
}

.top_container
{
	display:flex;
	flex-direction: column;
}
header
{
	height: 50vh;
	width: 100%;
	background: url(/martinDev/img/cabecera/header-pic.jpg);
    background-repeat:no-repeat;
    background-size:cover;
	background-position-y: 50%;
    background-blend-mode:darken;
    background-color: rgba(0, 20, 40,0.70);
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}

.header__title
{
	padding:50px;
	background-color:rgba(0,0,0,0);
	color:white;
	display:grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr;
	font-family: 'Courier New', Courier, monospace;
}

.header__title--colons
{
	padding-right: 1em;
}

.header__title p
{
	grid-column: 2;
}

.navBar
{
	border-top:0.5px solid darkgrey;
	border-bottom:0.5px solid darkgrey;
	text-align: center;
}

.navBar ul
{
	padding:1em 15% 1em 15%;
	display:flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	list-style: none;
}

.navBar__btn a
{
	text-decoration: none;
	color:darkgrey;
	text-decoration: none;
}

.act-btn a
{
	color:black;
	font-weight: bolder;
}

.navBar__btn a:hover
{
	color:blue;
	font-weight: bolder;
}

main
{
	
	height:auto;
	padding-left: 15%;
	padding-right: 15%;
	padding-top:5em;
	padding-bottom:5em;
	text-align: justify;
	font-size: larger;
}

.bottom_container
{
	background-color: black;
	width: 100%;
	color:white;
}

.footer
{
	display:flex;
	justify-content: center;
	align-items: center;
}

.footer__text
{
	padding-left:15%;
	width:35%;
	align-items: center;
	text-align: justify;
}

.footer__links
{
	padding-right:15%;
	width:35%;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items:flex-end;
}

.footer__links a
{
	display:flex;
	justify-content: center;
	align-items: center;
	border: 0.5px solid grey;
	border-radius:10px;
	width: 25%;
	min-width: fit-content;
	height: 50px;
	margin:15px;
	padding: 0 15px 0 15px;
}

.footer__links a:hover
{
	box-shadow: 0 0 15px white;
}