@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*
{
	margin:0;
	padding:0;
	font-family: 'Gentium Plus', serif;
}
a:link, a:visited, a:active {
    text-decoration:none;
	color:grey;
}
html,body
{
	display:flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: space-between;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: light;
	scroll-behavior: smooth;

}

.top_container
{
	display:flex;
	flex-direction: column;
}
header
{
	height: 50vw;
	width: 100%;
	background: url(/martinDev/img/cabecera/header-pic.jpg);
    background-repeat:no-repeat;
    background-size:cover;
	background-position-y: 50%;
    background-blend-mode:darken;
    background-color: rgba(0, 20, 40,0.70);
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}

.header__title
{
	padding-left:15%;
	padding-bottom:10%;
	background-color:rgba(0,0,0,0);
	color:white;
	display:flex;
	flex-direction: column;
	font-family: 'Courier New', Courier, monospace;
	font-size:calc(10px + 2vw);
}

.navBar-text
{
	border-top:0.5px solid darkgrey;
	border-bottom:1px solid darkgrey;
	text-align: center;
	position:sticky;
	top:0;
	z-index:100;
	background-color: white;
	min-height: auto;
	height: 50px;
}

.navBar-icon img
{
	display:none;
}

.navBar-text ul
{
	padding:1em 15% 1em 15%;
	display:flex;
	flex-wrap: wrap;
	gap:15px;
	justify-content: space-between;
	list-style: none;
}

.navBar__btn a
{
	text-decoration: none;
	color:darkgrey;
	text-decoration: none;
	transition: .5s ease;
}

.act-btn a
{
	color:black;
	font-weight: bolder;
}

.navBar__btn a:hover
{
	color:blue;
	font-weight: bolder;
}

main
{
	height:auto;
	width: 100%;
}

.article
{
	line-height: 2em;
	padding-top:5em;
	padding-bottom:5em;
	padding-left: 15%;
	padding-right: 15%;
	text-align: justify;
	font-size: larger;
	display:flex;
	flex-direction: column;
}

.article--white
{
	background-color: white;
}

.article--black
{
	background-color: black;
	color:white;
}

.article--grey
{
	background-color: lightgrey;
}

.article__title
{
	padding-top:1em;
	padding-bottom:1em;
	width: 100%;
	font-size: larger;
	display:flex;
}

.article__title strong
{
	width:100%;
	text-align: center;
}

.article__pic_wrapper
{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.fadetextpic_container
{
	position: relative;
	width: 120px;
	transition: .5s ease;
}

.fadeimage
{
	width: 100%;
	display: block;
	height: auto;
	border-radius: 5px;
}

.fadeoverlay
{
	top: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: orange;
	border-radius: 5px;
}

.fadetextpic_container:hover
{
	opacity: 0.75;
}
.fadeoverlay:hover
{
	opacity:0.75;
	font-weight: bolder;
	font-size: larger;
}

.fadetext
{
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}


.article__content form > fieldset
{
	display: block;
	
}

input
{
	width:auto;
	height:auto;
}

.bottom_container
{
	background-color: black;
	width: 100%;
	color:white;
}

.footer
{
	display:grid;
	width:100%;
	grid-template-rows: auto auto auto;
	text-align: center;
	align-items: center;
	
}

.footer__text
{
	line-height: 2em;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding: 10px 15% 0 15%;
}

.footer__signature
{
	padding: 0 15% 20px 15%;
	line-height: 2em;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	border-top: 0.5px solid grey;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	gap:5px;
}

.footer__links
{
	padding: 10px 15% 10px 15%;
	line-height: 2em;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	gap:5px;
}

.footer__links a
{
	display:flex;
	justify-content: center;
	align-items: center;
	border: 0.5px solid grey;
	border-radius:10px;
	width: 5%;
	min-width: fit-content;
	height: 50px;
	margin:15px;
	padding: 0 15px 0 15px;
}

.footer__links a:hover
{
	box-shadow: 0 0 15px white;
}

/* Media queries */
@media only screen and (max-width: 600px) {
	.navBar-text
	{
		display:none
	}
	.navBar-icon
	{
		display:flex;
		border-top:0.5px solid darkgrey;
		border-bottom:1px solid darkgrey;
		text-align: center;
		position:sticky;
		top:0;
		z-index:100;
		background-color: white;
		min-height: auto;
		height: 50px;
		width:100%;
	}
	.navBar-icon img
	{
		display: flex;
		width: 100%;
		margin-left: 88%;
		margin-right:4%;
		justify-self: flex-end;
	}
}